<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- Jieba MainDictFile -->
		<add key="JiebaConfigFileDir" value="C:\JiebaResource\Resource" />
		<!-- Jieba [附加]自定义的分词检索词典路径 -->
		<add key="JiebaConfigCustomDictDir" value="C:\JiebaResource\dict_custom.txt" />
	</appSettings>
</configuration>